# 后端环境变量
DB_URL=jdbc:postgresql://<your-supabase-db-host-and-port>/postgres
DB_USERNAME=postgres
DB_PASSWORD=<your-supabase-db-password>
JWT_JWK_SET_URI=<your-supabase-jwt-secret>
ALIYUN_LLM_API_KEY=<your-aliyun-api-key>

# 前端环境变量
VITE_AMAP_KEY=<your-amap-key>
